* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  font-weight: normal;
}

.headline a {
  outline: 0;
}

body {
  background-color: #ffffff;;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size:0.8rem;
}


h1 {
  font-family: "Droid Serif", serif;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 1.5em;
}

.headline {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.headline .title {
  font-family: "Roboto Condensed", sans-serif;
  margin-right: 1.5em;
}

.headline .date {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  color: darkgray;
  flex-shrink: 0;
}

.title {
  text-decoration: none;
  color: black;
  border-bottom:5px solid #ffffff;
  padding-bottom: 5px;
}

.title:hover {
  border-bottom: 5px solid black;
}


@media (min-width: 850px) {
  .content {
    width: 800px;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 70px;
  }

  .content {
    margin-top: 120px;
  }
}

.headline .touchable:hover {
  border-bottom: 0;
}